.card {
  width: 590px;
  height: 700px;
  display: flex;
  flex-direction: column;
}
.cardImage {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.card .readMore {
  font-size: 18px;
  font-weight: 500;
  color: #d05270;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  border-bottom: 1px solid #d05270;
  align-self: flex-start;
}
