.navBar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navBar .left {
  display: flex;
  gap: 20px;
  font-size: 36px;
  align-items: center;
}

.navBar .right {
  display: flex;
  gap: 5px;
}

.navBar ul {
  min-width: 700px;
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 20px;
  flex-wrap: wrap;
}

.navBar a {
  padding: 0 5px;
  text-decoration: none;
  color: #424242;
}
.logoHire {
  font-size: 12px;
  background-color: #5a47ab;
  color: white;
  border-radius: 2px;
  padding: 5px 8px 0 18px;
  height: 24px;
}
