.calculator {
  max-width: 500px;
  text-align: center;
  margin-top: 50px;
}

.screen {
  width: 265px;
  text-align: right;
  font-size: 25px;
  padding: 10px;
  margin: 5px;
}

.buttons {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  width: 60px;
  font-size: 25px;
  margin: 5px;
}
