.inputsAddItem {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* text-align: right; */
  gap: 10px;
  padding: 0 auto;
}

.inputAddItem {
  padding: 5px;
  border: 1px solid lightgray;
  width: 48%;
  outline: none;
}

.specBox {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 2px;
}

.inputSpec {
  padding: 5px;
  border: 1px solid lightgray;
  width: 40%;
  outline: none;
}

