.inputsAddItem {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 10px;
}

.inputsAddItem input {
  padding: 5px;
  border: 1px solid lightgray;
  width: 100%;
  outline: none;
}

.specBox {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 2px;
}
