.sliderItem {
    padding-top: 50px;
}

.sliderItem .right {
    text-align: center;
}
.sliderItem .left {
    padding-top: 50px;
}

.brand {
    color: #a7f65c;
    font-size: 50px;
    font-weight: 700;
}
.type {
    color: #a7f65c;
    font-size: 50px;
    font-weight: 500;
}
.sliderImage {
    width: 80%;
    height: auto;
}

.viewmoreBtn {
    border: 1px solid #a7f65c;
    color: #a7f65c;
}

.shopnowBtn {
    border-color: #003585;
    color: #003585;
}
