.Dash_Side {
  width: 30%;
  height: 80vh;
  border: 1px solid blue;
}

.Dash_Nav {
  justify-content: space-between;
  border: 1px solid green;
  padding: 15px 0;
}

.Dash_Nav .whiteBtn {
  font-size: 14px;
  color: #003585;
  background-color: #ffffff;
  border: 0;
}

.blueBtn {
  width: 40%;
  font-size: 14px;
  color: #ffffff;
  background-color: #003585;
  border: 1px solid #003585;
  border: 0;
  border-radius: 5px;
}

.roleBtn {
  width: 70%;
  background-color: #003585;
  color: #ffffff;
}

.roleBtn:focus {
  background-color: #a7f65c;
  color: #003585;
}

.greyBtn {
  width: 40%;
  font-size: 14px;
  color: #003585;
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}

.blueBtn:hover,
.greyBtn:hover {
  border: 1px solid #003585;
}

.modalBtns {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.qmark {
  padding: 5px 15px;
  background-color: #a7f65c;
  color: #003585;
  font-size: 1.2rem;
  font-weight: 600;
  width: fit-content;
  border-radius: 50%;
  margin: 15px auto;
}
