.Home {
  margin: 0 auto;
  /* display: flex; */
  flex-direction: column;
}

/* Navigation */
.HomeNav {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  background-color: #003585;
}

.middle {
  min-width: 250px;
  width: 425px;
}

.modal-backdrop {
  background-color: #003585;
  --bs-backdrop-opacity: 0.7;
}

.left {
  display: flex;
  align-items: center;
}

.brandName {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}

.loginBtn {
  background-color: transparent;
  color: #ffffff;
}

.shoppingCart {
  background-color: #a7f65c;
  color: #003585;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 600;
}

/* Slider section*/

/* Popular section */
.Popular {
  padding: 15px 0;
}

.popularTitle {
  color: #003585;
  font-weight: 700;
  padding: 15px 0;
}

.popularBtn {
  width: 150px;
  background-color: #ffffff;
  color: #003585;
  border: 1px solid #003585;
  padding: 5px 0;
}

.popularCart {
  border: 1px solid grey;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
}

.popularCartImage {
  text-align: center;
  position: relative;
}

.popularCartImage img {
  width: 220px;
  height: 200px;
  cursor: pointer;
}
.cartBlue {
  background-color: grey;
  padding: 10px;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin-top: 30px;
}

.saleSign {
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: #a7f65c;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Specials section */
.Specials {
  border: 1px solid green;
  padding: 15px 0;
}

/* Sale offer section */
.SaleOffer {
  padding: 15px 0;
}

.back {
  background-image: url("/public/img/sale_back.png");
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 420px;
}

.saleText1 {
  color: #4abeff;
  font-weight: 700;
  font-size: 40px;
}
.saleText2 {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

/* Partners section */
.Partners {
  border: 1px solid green;
  padding: 15px 0;
}

/* Footer section */
.Footer {
  border: 1px solid green;
  padding: 15px 0;
  background-color: #003585;
  color: #ffffff;
}
